body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(248, 190, 219);

}
h1{
    color: rgb(242, 17, 197);
}
.game{
    margin-top: 30px;

}
.choice{
    font-size: medium;
    padding:15px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(249, 95, 201);
    color: rgb(118, 187, 248);

}
.choice:hover{
    background-color: rgb(243, 138, 195);
}
.result{
    margin-top: 30px;
    font-size: small;
    color: black;
}